/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/05/2017, 09:48:50 AM
    Author     : Alumnos
*/

.contenedor
{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
body
{
    background-color: #ddd;
}
.caja
{
    border: 3px solid;
    border-style: dotted;
    background: #eee;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px;
    box-sizing: border-box;
    
}